.container {
  background-color: rgb(252, 252, 252);

  width: 600px;
  display: flex;
  flex-direction: row;
  color: rgb(33, 32, 32);
  padding: 1rem;
  gap: 0.5rem;
}

input {
  background-color: white;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 8px;
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
}
.col-one {
  width: 50%;
  padding: 15px;
  text-align: left;
  line-height: 0.5;
  border: 2px solid rgb(174, 166, 166);
}

.col-two {
  width: 50%;
  text-align: left;
  padding: 15px;
  border: 2px solid rgb(174, 166, 166);
}

.header-container {
  background-color: rgb(174, 166, 166);

  text-align: center;
  font-weight: 800;
  color: white;
  margin-bottom: 10px;
  padding: 20px;
}

.em-pg {
  /* border: 1.5px solid rgb(46, 46, 48); */
  padding: 1rem;
}

.avtr {
  width: 100px;
}

.av-icon {
  width: 60px;
}

.em-list {
  display: flex;
  line-height: 1;
  padding: 10px;
  font: 0.8rem sans-serif;
  border: 1px solid rgb(196, 193, 193);
}

.pg-text {
  margin-top: 15px;
}

.em-info {
  border: 1px solid rgb(196, 193, 193);
  padding: 10px;
}
